* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

body {
  background: #de2f56;
  /*font-family: 'Inter', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Roboto Mono', monospace;*/
}

h1 {
  user-select: none;
}

.container {
  min-height: 100vh;
  height: min-content;
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;

}

.boxStyling {
  border: 5px solid black;
  width: 700px;
  background: white;
  border-radius: 20px;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  padding: 20px;
  height: min-content;
}


#column1 {
  user-select: none;
  height: 820px;
  width: 200px;
  flex-direction: column;
  min-width: min-content;
  overflow-y: auto;
  min-height: min-content;
  padding-top: 170px;
  /*this fixes the fact that activities heading does not show up but there should be a better fix */

}

#activity1 {
  width: 100%;
}

/*Column 2 Box 1 and Box 2*/
.column2 {
  border: 5px solid black;
  gap: 1 em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropBoxes {
  margin: 10px;
}

#box1,
#box2 {
  min-height: 350px;
  flex-wrap: wrap;

}


#box3 {
  min-height: 350px;
}

#column3 {
  height: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.count {
  /* border: 5px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 700px;
}

.countBox {
  /* border: 5px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  text-align: center;
  padding: 1em;

}

.countBox p {
  /*border: 5px solid pink;*/
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  margin: 20px;
  height: min-content;
  width: min-content;
}


.activity {
  border: 3px solid black;
  z-index: 1;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  border-radius: 50px;
}


.headings {
  user-select: none;
  color: black;
  width: 700px;
  border: 3px solid black;
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 5px;
}


.option {
  flex-wrap: wrap;

}



.restartBtn {
  display: none;
}

.count {
  display: none;
}

button {
  padding: 1em 2em;
  background-color: #de2f56;
  color: white;
  font-size: 30px;
  border: 3px solid black;
  border-radius: 50px;
}

#heading2 {
  display: none;
}

@media only screen and (max-width:600px) {
  .container {
    flex-direction: column;

  }

  #column1 {
    height: 350px;
    min-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px;
  }

  .activity {
    font-size: 25px;
    padding: 20px;
    width: 250px;
  }

  #heading1 {
    display: none;
  }

  #heading2 {
    display: block;
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 20px;

  }

  .rightBoxes {
    padding: 30px;
  }
}
